@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Roboto:wght@300&display=swap');

body{
	background-image: url("./../images/lightcommanders.jpg");
	background-size: cover;
}

.item{
    margin-left: 40%;
    margin-right: auto;
    display: flex;
    width: 20%;
    background-color: rgba(190, 190, 190, 65%);
    border-radius: 15px;
    font-size: 20px;
    font-family: "Lexend";
    margin: 2px;
}

.userpic{
    height: 125px;
    width: 130px;
    margin-left: -20%;
    margin-right: auto;
    margin-top: -150px;
    border-radius: 100%;
    background-color: rgb(47, 47, 241);
    background-image: url("./../images/Penn.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
}

.account-container{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
    width: 55%;
	font-family: "Lexend";
    background-color: rgba(190, 190, 190, 65%);
	border-radius: 15px;
}

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

#passError, #passErrorBoogaloo{
	color: rgb(215, 0, 0);
	font-family: "Lexend";
}