@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Roboto:wght@300&display=swap');

body{
    background-image: url("./../images/searchables.png");
    background-size: 100%;
}

#searchtype{
	margin-left:auto;
    margin-right:auto;
    width: 55%;
    display: flex;
    height: auto;
    background-color: rgba(190, 190, 190, 65%);
    border-radius: 15px;
    font-size: 20px;
    font-family: "Lexend";
    margin-bottom: 20px;
    padding-top: auto;
	padding-bottom: auto;
	padding-right:auto;
	padding-left: auto;
}

.searchparameters{
    margin-left:auto;
    margin-right:auto;
    display: flex;
    width: 55%;
    height: 64px;
    background-color: rgba(190, 190, 190, 65%);
    border-radius: 15px;
    font-size: 20px;
    font-family: "Lexend";
    margin-bottom: 5px;
    padding-top: auto;
	padding-bottom: auto;
}

.searchparameters h2{
	margin-left: auto;
	margin-right: auto;
}

.searchparameters div{
    margin-left:auto;
    margin-right:auto;
    display:flex;
	height: 32px;
}

select{
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 5px;

}

select:hover{
    background-color: rgb(240, 200, 200);
}

#format{
    width: 100px;
    padding-top: auto;
    padding-bottom: auto;
}

#archetype{
    width: 125px;
}

input{
    width: 200px;
    height: 25px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(190, 190, 190);
}

#amount{
    width: 45px;
}

#pressme{
    width: 80px;
    height: 40px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
}

.returnitems, .searchresults{
    margin-left:auto;
    margin-right:auto;
    display: flex;
    width: 55%;
    background-color: rgba(190, 190, 190, 65%);
    border-radius: 15px;
    font-size: 20px;
    margin-top: 10px;
}

.searchresults p{
    margin-left:auto;
    margin-right:auto;
}