<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/header.css">
</head>
<body>
	<div class="top-header">
        <div class="header-item">
            <img src="images/IMG_3176.PNG" id="chibinez">
            <h1>MtG Tech Finder</h1>
        </div>
        <div class="header-item">
            <nav>
                <ul>
                    <li>
                        <a href="./main">Home</a>
                    </li>
                    <li>
                        <a href="./Search">Search</a>
                    </li>
                    <li>
                        <a href="./about">About</a>
                    </li>
                    <li>
                        <a href="./account">Account</a>
                    </li>
                    <li>
                        <a href="./login">Login</a>
                    </li>
                    <li>
                        <a href="./submit" id="submit">Submit</a>
                    </li>
                    <li>
                        <a href="./rat" id="rat">Rat?</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>